@import 'https://fonts.googleapis.com/css?family=Josefin+Sans:300';

*{
	box-sizing: border-box;
}

html, body{
	background-color: #2EA3A1;
	padding:0;
	margin: 0;
	font-family: 'Josefin Sans';
	color: #E6E7E8;
}

.wrapper{
	width:66%;
	max-width: 736px;
	margin:2em auto;
}

.city, .description, .temperature{
	text-align: center;
	text-transform: uppercase;
	margin: 15px 0;
}

.city{
	font-size: 40px;
}

.temperature{
	font-size: 110px;
}

.description{
	font-size: 30px;
}

.weatherIcon{
	width: 40%;
	margin:0 30%;
}

.pan{
	width: 64%;
	height: auto;
	margin:0 19%;
	display: inline-flex;
}

.info{
	padding:15px;
	width: 50%;
}

.info h4{
	font-size: 16px;
}

.tempM{
	text-align: right;
}

.temp{
	border-right: 1px solid #E6E7E8;
}

.lookCity{
	width:30%;
	margin:3em auto 0;
}

.cityName{
	width:70%;
	height: 40px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	padding:.5em;
}

.lookFor{
	width:30%;
	height: 39px;
	margin-left: -5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border:none;
}

.style-select{
    background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
    height: 29px;
    overflow: hidden;
    width: 100px;
    margin:2em auto;
}

.semi-square{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #E6E7E8;
}

.style-select select{
	background: transparent;
	border: none;
	font-size: 14px;
	height: 29px;
	padding: 5px;
	width: 120px;
}

@media(max-width: 768px) and (min-width: 320px) and (orientation: portrait){
	.city{
		font-size:26px;
	}

	.temperature{
		font-size: 75px;
	}

	.description{
		font-size: 20px;
	}

	.wrapper{
		width:90%;
	}

	.pan{
		width:100%;
		margin:0;
	}

	.info{
		padding:4px;
	}

	.lookCity{
		width:65%;
	}

	.cityName{
		width: 65%;
	}
}

@media (max-width: 768px) and (min-width: 320px) and (orientation:landscape){
	.city{
		font-size: 36px;
	}

	.temperature{
		font-size: 80px;
	}

	.description{
		font-size: 23px;
	}

	.pan{
		margin:0;
		width: 100%
	}

	.info{
		padding:12px;
	}

	.lookCity{
		width: 65%;
	}
}



